* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

nav ul li{
    list-style-type: none;
    display: inline-flex;
    margin-right: 30px;
    margin-top: 15px;
}

nav ul li a {
    text-decoration: none;
}

/* CONTAINER HEADER NAV */
.container-header {
    display: flex;
    width: 90%;
    /* min-width: 20%; */
    height: 50px;
    /* align-items: center; */
    /* background-color: #11c5c6; */
    /* border: 2px solid black; */
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
}



/* CONTAINER MENU BARIS */
.container-main-row {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex-grow: 1; */
    padding: 20px;
    margin: 10px;
    /* background-color: #fbdd1c; */
    /* border: 2px solid black; */
    border-radius: 10px;
}

.box {
    flex-grow: 1;
    /* background-color: #fe899a; */
    margin: 0 40px;
    /* border: 2px solid black; */
    border-radius: 10px;
}

.logo {
    flex-grow: 3;
    word-break: break-all;
    width: 10%;
    text-align: center;
    /* position: relative; */
}

.logo p {
    margin-top: 15px;
}

.nav {
    flex-grow: 3;
    text-align: right;
    position: relative;
    width: 70%;
}

@media screen and (max-width: 512px) {
    /* .container-menu {
        flex: 100%;
        flex-direction: column;
    } */
    .container-main-row {
        width: 90%;
        flex-direction: column;
    }
    .arc2 {
        margin-top: 20px;
    }
}

/* Container MENU  COLUMN*/
.container-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
    /* height: 1600px; */
    /* background-color: #11c5c6; */
    /* border: 2px solid black; */
    padding: 10px;
    border-radius: 10px;
    margin: 5px auto;
}

.arc1 {
    flex: 3;
    /* height: 100%; */
    /* display: flex; */
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    /* width: 400px; */
    display: block;
    text-align: justify;
    line-height: 1.8;
  /* border: 1px solid black; */
}


.arc2 {
    flex: 1;
    height: 100%;
    display: block;
    text-align: start;
    line-height: 1.5;
    /* width: 100px; */
}

.arc3 {
    flex-grow: 4;
    height: 300px;
    /* flex-direction: column; */
}

.arc4 {
    flex-grow: 1;
    height: 200px;
}


.arc11 {
    flex-grow: 1;
    /* height: 300px; */
    flex-wrap: wrap;
}

.arc12 {
    flex-grow: 1;
    /* height: 200px; */
    flex-wrap: wrap;
}